@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap');

h1, p, li {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

p, li {
    font-weight: 100;
}